.about-container {
  position: relative;
  display: flex;
  color: #ccc;
  height: max-content;
  margin: -1px;
  padding: 24px 79px 11px 119px;
  background-color: #11141b !important;
  z-index: 0;
}

.tittle {
  position: absolute;
  left: 50%;
  transform: translate(-87px, 0px);
}

.tittle h2 {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  padding-bottom: 15px;
  color: #ccc;
  text-transform: capitalize;
}

.tittle h2::after {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  content: "";
  bottom: 0px;
  max-width: 300px;
  margin: 0 auto;
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgb(165, 165, 165),
    rgba(0, 0, 0, 0)
  );
}

@media only screen and (max-width: 600px) {
  .about-container {
    padding: 5px 26px 0px 26px;
    height: auto;
    margin: -1px;
    height: fit-content;
  }
}
