.button {
    display: inline-block;
    padding: 8px 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-weight: 500;
    border: 2px solid #f55422;
    border-radius: 30px;
    background: #f55422;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
}
